{% extends "base.html" %} {% block content %}
<div class="container">
  <!-- Learn Button in the Top Left -->
  <a href="{{ url_for('learn') }}" class="learn-button">Learn</a>

  <div class="header">
    <h1 class="welcome-text">Welcome</h1>
    <h2 class="title">Sorting Visualizer</h2>
  </div>

  <div id="container">
    <!-- Visualization bars will appear here -->
  </div>

  <hr />

  <div id="algorithm-selector">
    <button class="btn nav-button mr-3" onclick="prevAlgorithm()">
      ⟸ Back
    </button>
    <span id="algorithm-name" class="h5">Bubble Sort</span>
    <!-- Updated here -->
    <button class="btn nav-button ml-3" onclick="nextAlgorithm()">
      Next ⟹
    </button>
  </div>

  <div id="controls">
    <button class="btn action-button reset mr-2" onclick="init()">Reset</button>
    <button class="btn action-button play mr-2" onclick="play()">Play</button>
    <button class="btn action-button stop" onclick="stop()">Stop</button>
  </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
